* {
  margin: 0;
  padding: 0;
}
body {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fafaf9;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 164px;
  flex: 1;
  max-width: 86vw;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 20px;
}
.img {
  min-width: 84vw;
  margin-bottom: 8px;
}
.design {
  background-color: #e6d6fc;
  max-width: 15vw;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: #893ce1;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}
.h2 {
  margin-top: 16px;
  font-size: 25px;
  font-weight: 780;
}
.lorem {
  margin-top: 6px;
  max-width: 80vw;
  font-size: larger;
  font-stretch: expanded;
  margin-bottom: 20px;
}
.link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 20px;
  padding-right: 0;
}
